<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <link rel="stylesheet" href="{{ asset('css/register.css') }}">
</head>
<body>
    <div class="register-container">
        <h2>Register</h2>
        
        {% for message in app.flashes('error') %}
            <div class="alert-error">
                {{ message }}
            </div>
        {% endfor %}
        
        {{ form_start(registrationForm) }}
            {{ form_row(registrationForm.name) }}
            {{ form_row(registrationForm.email) }}
            {{ form_row(registrationForm.password) }}
            {{ form_row(registrationForm.register) }}
        {{ form_end(registrationForm) }}
        
        <div class="login-link">
            <span>Already have an account? <a href="{{ path('login') }}">Login here!</a></span>
        </div>
    </div>
</body>
</html>